body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f0e1; /* Light beige background */
    color: #4b3d3d; /* Dark brown text */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff; /* White background for form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #7a5c4c; /* Warm brown color */
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #d1b8a1; /* Light brown border */
    background-color: #f9f6f2; /* Very light beige input background */
}

button {
    padding: 10px;
    background-color: #7a5c4c; /* Warm brown button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #28a745; /* Lighter brown on hover */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
   color:#aaa;
   float:right;
   font-size :28px ;
   font-weight:bold ;
}

.close:hover,
.close :focus{
   color:black ;
   text-decoration:none ;
   cursor:pointer ;
}